#services
    text-align: center
    letter-spacing: 0.5px
    h1
        font-size: 35px
        font-weight: 600
        color: #212529
    h3
        font-size: 16px
        color: #6c757d
        margin: 20px 80px