#welcome
    background-color: #abf2a7
    .textbox
        width: 650px
        h3
            font-size: 40px
            color: #ffffff
        h1
            font-size: 70px
            font-weight: 700
            color: #ffffff
            margin: 30px 0 70px
        .btn
            padding: 20px 40px
            border-radius: 5px
            background-color: #ffc800
            h4
                font-size: 22px
                font-weight: 600
                color: #fffaf6
                letter-spacing: 1px